{% extends 'users/users_base.html'%}
{% load i18n %}
{% block content_users %}

  <h1>
    {% trans "User Profile"%}
  </h1>

    <p>{% trans "username"%}   : {{ user.username }}</p>
    <p>{% trans "student id"%} : {{ user.profile.student_id }}</p>
    <p>{% trans "email"%}      : {{ user.email }}</p>
    <p>{% trans "profile image"%} : <img src="{{ user.profile.image.url }}" width="240"></p>

    <a href="{% url 'users:update_user' %}">{% trans "Edit profile"%}</a>
{% endblock content_users%}
