{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <ol>
          {% trans "list of all books" %}

            {%for book in books%}
            <li>
              {{book.name}}
                -
                {% if book.num_books == 0 %}
                    {% trans "It's not avilable" %}
                {% else %}
                    {{ book.num_books }}
                {% endif %}
                -
            </li>
            {%endfor%}

          </ol>
           <div class="pagination">
                <span class="step-links">
                    {% if books.has_previous %}
                        <a href="?page=1">{% trans "&laquo; first" %}</a>
                        <a href="?page={{ books.previous_page_number }}">{% trans "previous" %}</a>
                    {% endif %}

                    <span class="current">
                        {% trans "Page" %} {{ books.number }} {% trans "of" %} {{ books.paginator.num_pages }}.
                    </span>

                    {% if books.has_next %}
                        <a href="?page={{ books.next_page_number }}">{% trans "next" %}</a>
                        <a href="?page={{ books.paginator.num_pages }}">{% trans "last &raquo;" %}</a>
                    {% endif %}
                </span>
            </div>


            <hr>
            {% trans "Subjects:" %}
            <ul>
                <li><a href="{% url 'book:subject_book' subject='poem' %}">{% trans "poem" %}</a></li>
                <li><a href="{% url 'book:subject_book' subject='story' %}">{% trans "story" %}</a></li>
                <li><a href="{% url 'book:subject_book' subject='history' %}">{% trans "history" %}</a></li>
                <li><a href="{% url 'book:subject_book' subject='magazine'%}">{% trans "magazine" %}</a></li>
                <li><a href="{% url 'book:subject_book' subject='biography'%}">{% trans "biography" %}</a></li>
            </ul>
    {% endif %}

{% endblock %}