{% extends  'book/book_base.html' %}
{% load i18n %}
{% block content_book %}
    <ol>
    {% for book in  context %}
        <li>{{ book.name }}</li>
        <br>
    {% endfor %}
    </ol>

    <div class="pagination">
        <span class="step-links">
            {% if context.has_previous %}
                <a href="?page=1">{% trans "&laquo; first" %}</a>
                <a href="?page={{ context.previous_page_number }}">{% trans "previous" %}</a>
            {% endif %}
    
            <span class="current">
                {% trans "Page" %} {{ context.number }} {% trans "of" %} {{ context.paginator.num_pages }}.
            </span>
    
            {% if context.has_next %}
                <a href="?page={{ context.next_page_number }}">{% trans "next" %}</a>
                <a href="?page={{ context.paginator.num_pages }}">{% trans "last &raquo;" %} </a>
            {% endif %}
        </span>
    </div>

{% endblock content_book %}