{% extends 'book/book_base.html'%}
{% load i18n %}
{% block content_book %}
  <h1>
    {% trans "book details" %}
  </h1>
  <p>{{ copy.book.name }}</p>
  <p>{{ copy.book.authors.name }}</p>
    <h3>ID : {{ copy.id }}</h3>
  <h3>{% trans "Authors:" %}</h3>
  {%for author in copy.book.authors.all%}
    <p>{{copy.author.name}}</p>
  {%endfor%}
  <h3>{% trans "Translators:" %}</h3>
  {%for translator in copy.book.translators.all%}
    <p>{{translator.name}}</p>
  {%endfor%}
  <h3>{% trans "Publisher:" %}</h3>
    <p>{{copy.book.publishers.name}}</p>

  <hr>
  <p>
    <a href="{%url 'book:borrow_copy' pk=copy.pk%}">{% trans "Borrow" %}</a>
    <a href="{%url 'book:reserve_copy' pk=copy.pk%}">{% trans "Reserve" %}</a>
  </p>
{% endblock content_book%}
